@font-face {
    font-family: 'Moon Bold';
    src: url('../../fonts/Moon\ Bold.otf') format('opentype');

}

@font-face {
    font-family: 'Brandon';
    src: url('../../fonts/Brandon_bld.otf') format('opentype');
}

@font-face {
    font-family: 'Futura Bold';
    src: url('../../fonts/Futura\ Condensed\ Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Futura Regular';
    src: url('../../fonts/Futura\ Light\ Regular.otf') format('opentype');
}