<!-- Header -->
<header class="header header-fixed header-fixed-on-mobile header-transparent" data-bkg-threshold="100" data-compact-threshold="100">
    <div class="header-inner">
        <div class="row nav-bar">
            <div class="column width-12 nav-bar-inner">
                <div class="logo">
                    <div class="logo-inner">
                        <a href="/"><img src="../images/logo/bloei-logo.svg" alt="Logo"></a>
                        <a href="/"><img src="../images/logo/bloei-logo.svg" alt="Logo White"></a>
                    </div>
                </div>
                <nav class="navigation nav-block secondary-navigation nav-right">
                    <ul>
                        <li class="aux-navigation hide">
                            <!-- Aux Navigation -->
                            <a href="#" class="navigation-show side-nav-show nav-icon">
                                <span class="icon-menu"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav class="navigation nav-block primary-navigation nav-right">
                    <ul>
                        <li class="{{page.home-link}}">
                            <a href="/">Home</a>
                        </li>
                        <li class="{{page.visie-missie-link}}">
                            <a href="/visie-missie/">Visie/Missie</a>
                        </li>
                        <li class="{{page.aanbod-link}}">
                            <a href="/aanbod/">Aanbod</a>
                        </li>
                        <li class="{{page.bloei-link}}">
                            <a href="/bloei!/">Bloei!</a>
                        </li>
                        <li class="{{page.contact-link}}">
                            <a href="/contact/">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->