<!-- Side Navigation Menu -->
<aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="push-in">
    <div class="side-navigation-scroll-pane">
        <div class="side-navigation-inner">
            <div class="side-navigation-header">
                <div class="navigation-hide side-nav-hide">
                    <a href="#">
                        <span class="icon-cancel medium"></span>
                    </a>
                </div>
            </div>
            <nav class="side-navigation">
                <ul>
                    <li class="{{page.home-link}}">
                        <a href="/" class="">Home</a>
                    </li>
                    <li class="{{page.visie-missie-link}}">
                            <a href="/visie-missie/">Visie/Missie</a>
                    </li>
                    <li class="{{page.aanbod-link}}">
                        <a href="/aanbod/" class="">Aanbod</a>
                    </li>
                    <li class="{{page.bloei-link}}">
                        <a href="/bloei!/" class="">Bloei!</a>
                    </li>
                    <li class="{{page.contact-link}}">
                        <a href="/contact/" class="">Contact</a>
                    </li>
                </ul>
            </nav>
            <div class="side-navigation-footer">
                <p class="copyright no-margin-bottom">&copy; 2018 Bloei.</p>
            </div>
        </div>
    </div>
</aside>
<!-- Side Navigation Menu End -->